<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--响应式布局 必须设置该meta标签-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" th:href="@{lib/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <link rel="stylesheet" th:href="@{css/activit_style.css}">
    <title>活动页</title>
    <!-- 站点头图 -->
    <link rel="icon" type="image/x-ico" th:href="@{sources/images/heart_48x48.png}"></link>
</head>
<body>
<!--  引用公共头部-->
<div th:replace="common :: header_top"></div>
<!-- 引用公共导航栏 -->
<div th:replace="common :: header_nav"></div>
<!-- 活动页    -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8">
            <div class="section-title text-center"><h2>志愿者活动 <span class="color">Volunters'Activities</span></h2>
                <p>弘扬志愿精神，优化发展环境，共建文明精河。
                </p>
            </div>
        </div>
    </div><!-- title -->
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-30">
            <div class="cause-project position-relative shadow-sm">
                <figure class="cause-project-thum position-relative m-0"><img src="sources/active_img/pic_1.jpg" alt="project">
                </figure>
                <div class="cause-project-content position-relative">
                    <h3>社会公益<small class="text-muted">2021.04.05</small></h3>
                    <ul class="project-badges">
                        <li>疫情防控</li>
                        <li class="pink">公益</li>
                    </ul>
                    <p>疫情防控、森林草原防灭火工作宣传教育活动</p>
                    <div class="progress">

                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100" style="max-width: 10%"><span class="title">10%</span></div>
                    </div>
                    <p>目标:200人</p>
                    <div class="cause-footer">
                        <button class="btn btn-secondary btn-block">加入</button>
                    </div>
                </div>
                <span class="cause-project-cat">活动详情</span><a href="#" class="hyperlink"></a></div>
        </div>
        <div class="col-md-6 col-lg-4 mb-30">
            <div class="cause-project position-relative shadow-sm">
                <figure class="cause-project-thum position-relative m-0"><img src="sources/active_img/pic_2.jpg" alt="project">
                </figure>
                <div class="cause-project-content position-relative">
                    <h3>志愿服务<small class="text-muted">2021.04.07</small></h3>
                    <ul class="project-badges">
                        <li>作业辅导</li>
                        <li class="pink">公益</li>
                    </ul>
                    <p>帮助社区儿童，进行公益学习辅导</p>
                    <div class="progress">

                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100" style="max-width: 50%"><span class="title">50%</span></div>
                    </div>
                    <p>目标:20人</p>
                    <div class="cause-footer">
                        <button class="btn btn-secondary btn-block">加入</button>
                    </div>
                </div>
                <span class="cause-project-cat">活动详情</span><a href="#" class="hyperlink"></a></div>
        </div>
        <div class="col-md-6 col-lg-4 mb-30">
            <div class="cause-project position-relative shadow-sm">
                <figure class="cause-project-thum position-relative m-0"><img src="sources/active_img/pic_3.jpg" alt="project">
                </figure>
                <div class="cause-project-content position-relative">
                    <h3>志愿服务<small class="text-muted">2021.04.07</small></h3>
                    <ul class="project-badges">
                        <li>社区街道大扫除</li>
                        <li class="pink">公益</li>
                    </ul>
                    <p>进行社区街道扫除志愿活动</p>
                    <div class="progress">

                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100" style="max-width: 60%"><span class="title">60%</span></div>
                    </div>
                    <p>目标:15人</p>
                    <div class="cause-footer">
                        <button class="btn btn-secondary btn-block">加入</button>
                    </div>
                </div>
                <span class="cause-project-cat">活动详情</span><a href="#" class="hyperlink"></a></div>
        </div>
        <div class="col-md-6 col-lg-4 mb-30">
            <div class="cause-project position-relative shadow-sm">
                <figure class="cause-project-thum position-relative m-0"><img src="sources/active_img/pic_3.jpg" alt="project">
                </figure>
                <div class="cause-project-content position-relative">
                    <h3>志愿服务<small class="text-muted">2021.04.07</small></h3>
                    <ul class="project-badges">
                        <li>社区街道大扫除</li>
                        <li class="pink">公益</li>
                    </ul>
                    <p>进行社区街道扫除志愿活动</p>
                    <div class="progress">

                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100" style="max-width: 60%"><span class="title">60%</span></div>
                    </div>
                    <p>目标:15人</p>
                    <div class="cause-footer">
                        <button class="btn btn-secondary btn-block">加入</button>
                    </div>
                </div>
                <span class="cause-project-cat">活动详情</span><a href="#" class="hyperlink"></a></div>
        </div>
        <div class="col-md-6 col-lg-4 mb-30">
            <div class="cause-project position-relative shadow-sm">
                <figure class="cause-project-thum position-relative m-0"><img src="sources/active_img/pic_2.jpg" alt="project">
                </figure>
                <div class="cause-project-content position-relative">
                    <h3>志愿服务<small class="text-muted">2021.04.07</small></h3>
                    <ul class="project-badges">
                        <li>作业辅导</li>
                        <li class="pink">公益</li>
                    </ul>
                    <p>帮助社区儿童，进行公益学习辅导</p>
                    <div class="progress">

                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100" style="max-width: 50%"><span class="title">50%</span></div>
                    </div>
                    <p>目标:20人</p>
                    <div class="cause-footer">
                        <button class="btn btn-secondary btn-block">加入</button>
                    </div>
                </div>
                <span class="cause-project-cat">活动详情</span><a href="#" class="hyperlink"></a></div>
        </div>
        <div class="col-md-6 col-lg-4 mb-30">
            <div class="cause-project position-relative shadow-sm">
                <figure class="cause-project-thum position-relative m-0"><img src="sources/active_img/pic_1.jpg" alt="project">
                </figure>
                <div class="cause-project-content position-relative">
                    <h3>社会公益<small class="text-muted">2021.04.05</small></h3>
                    <ul class="project-badges">
                        <li>疫情防控</li>
                        <li class="pink">公益</li>
                    </ul>
                    <p>疫情防控、森林草原防灭火工作宣传教育活动</p>
                    <div class="progress">

                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100" style="max-width: 10%"><span class="title">10%</span></div>
                    </div>
                    <p>目标:200人</p>
                    <div class="cause-footer">
                        <button class="btn btn-secondary btn-block">加入</button>
                    </div>
                </div>
                <span class="cause-project-cat">活动详情</span><a href="#" class="hyperlink"></a></div>
        </div>
    </div><!-- row -->
</div>
<!-- 公共底部    -->
<div th:replace="common :: bottom"></div>

<script src="lib/js/jquery-3.5.1.js"></script>
<script th:src="@{lib/js/popper.min.js}"></script>
<script th:src="@{lib/js/bootstrap.js}"></script>
<script th:src="@{js/home.js}"></script>
</body>
</html>