<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--响应式布局 必须设置该meta标签-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" th:href="@{lib/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <title>收件箱</title>
    <!-- 站点头图 -->
    <link rel="icon" type="image/x-ico" th:href="@{sources/images/heart_48x48.png}"></link>
    <style>
        .main {
            margin-top: 20px;
            margin-left: 200px;
            margin-right: 200px;
            background-color: white;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <!--  引用公共头部-->
    <div th:replace="common :: header_top"></div>
    <!-- 引用公共导航栏 -->
    <div th:replace="common :: header_nav"></div>
    <!-- 交流页面    -->
    <div class="container-fluid main border w-75">
        <div class="row">
            <div class="col-10 ">
                <h2><span>我的消息</span></h2>
                <hr>
                <!--我的问题-->

                <!--我的消息-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-ss-12">
                    <div class="media">
                        <span>root</span>
                        <span>回复了你的评论</span>

                        <a href="/notification/19">
                            <span>fsdfsdf</span>
                        </a>
                        <span class="label label-danger">未读</span>
                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>
                        <span>回复了你的评论</span>

                        <a href="/notification/18">
                            <span>fsdfsdf</span>
                        </a>
                        <span class="label label-danger">未读</span>
                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>

                        <span>回复了你的问题</span>
                        <a href="/notification/17">
                            <span>sdfsdfs</span>
                        </a>

                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>

                        <span>回复了你的问题</span>
                        <a href="/notification/16">
                            <span>测试问题发布</span>
                        </a>

                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>

                        <span>回复了你的问题</span>
                        <a href="/notification/15">
                            <span>测试问题发布</span>
                        </a>
                        <span class="label label-danger">未读</span>
                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>
                        <span>回复了你的评论</span>

                        <a href="/notification/19">
                            <span>fsdfsdf</span>
                        </a>
                        <span class="label label-danger">未读</span>
                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>
                        <span>回复了你的评论</span>

                        <a href="/notification/18">
                            <span>fsdfsdf</span>
                        </a>
                        <span class="label label-danger">未读</span>
                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>

                        <span>回复了你的问题</span>
                        <a href="/notification/17">
                            <span>sdfsdfs</span>
                        </a>

                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>

                        <span>回复了你的问题</span>
                        <a href="/notification/16">
                            <span>测试问题发布</span>
                        </a>

                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>

                        <span>回复了你的问题</span>
                        <a href="/notification/15">
                            <span>测试问题发布</span>
                        </a>
                        <span class="label label-danger">未读</span>
                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>
                        <span>回复了你的评论</span>

                        <a href="/notification/19">
                            <span>fsdfsdf</span>
                        </a>
                        <span class="label label-danger">未读</span>
                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>
                        <span>回复了你的评论</span>

                        <a href="/notification/18">
                            <span>fsdfsdf</span>
                        </a>
                        <span class="label label-danger">未读</span>
                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>

                        <span>回复了你的问题</span>
                        <a href="/notification/17">
                            <span>sdfsdfs</span>
                        </a>

                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>

                        <span>回复了你的问题</span>
                        <a href="/notification/16">
                            <span>测试问题发布</span>
                        </a>

                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>

                        <span>回复了你的问题</span>
                        <a href="/notification/15">
                            <span>测试问题发布</span>
                        </a>
                        <span class="label label-danger">未读</span>
                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>
                        <span>回复了你的评论</span>

                        <a href="/notification/19">
                            <span>fsdfsdf</span>
                        </a>
                        <span class="label label-danger">未读</span>
                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>
                        <span>回复了你的评论</span>

                        <a href="/notification/18">
                            <span>fsdfsdf</span>
                        </a>
                        <span class="label label-danger">未读</span>
                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>

                        <span>回复了你的问题</span>
                        <a href="/notification/17">
                            <span>sdfsdfs</span>
                        </a>

                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>

                        <span>回复了你的问题</span>
                        <a href="/notification/16">
                            <span>测试问题发布</span>
                        </a>

                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <div class="media">
                        <span>root</span>

                        <span>回复了你的问题</span>
                        <a href="/notification/15">
                            <span>测试问题发布</span>
                        </a>
                        <span class="label label-danger">未读</span>
                        <br>
                        <span>2021-05-26</span>
                        <hr>
                    </div>
                    <!--页码-->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">


                            <li class="active">
                                <a href="#">1</a>
                            </li>


                        </ul>
                    </nav>
                </div>

            </div>
            <!--右侧的导航栏-->
            <div class="col-2">
                <div class="list-group personal">
                    <a href="#" class="list-group-item">
                        我的问题
                    </a>
                    <a href="#" class="list-group-item active">
                        我的消息
                        <span class="badge">13</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--热门话题部分-->

    </div>"
    </div>
    <!-- 公共底部    -->
    <div th:replace="common :: bottom"></div>

    <script src="lib/js/jquery-3.5.1.js" ></script>
    <script th:src="@{lib/js/popper.min.js}"></script>
    <script th:src="@{lib/js/bootstrap.js}"></script>
    <script th:src="@{js/home.js}"></script>
</body>
</html>