<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<!-- 站点头图 -->

    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-ico" th:href="@{sources/images/heart_48x48.png}"></link>
        <link rel="stylesheet" th:href="@{lib/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{css/home.css}">
        <link rel="stylesheet" th:href="@{css/posts.css}">
        <title>文章页</title>
    </head>
    <body>
        <!--  引用公共头部-->
        <div th:replace="common :: header_top"></div>
        <!-- 引用公共导航栏 -->
        <div th:replace="common :: header_nav"></div>
<!--        文章内容-->
        <section class="post-details-area">
            <div class="container">
                <div class="post-details row posts-border">
                    <div class="entry-header">
                        <h2 class="title">无偿献血志愿者黄琼娇：坚守公益之路 爱洒第二家乡</h2>
                        <ul class="post-meta">
                            <li>2017-11-02</li>
                            <li><a href="#">公益中国,</a><a href="#">之原则,</a><a href="#">photography</a></li>
                        </ul>
                        <p class="short-desc">
                            河北新闻网讯（记者高小茹）今年49岁的黄琼娇，是石家庄市无偿献血志愿服务大队车站分队的一名成员。
                            黄琼娇自1995年从湖北来到石家庄做服装生意，已在石家庄生活了二十多年，这里早就成为她的第二故乡，也是她践行公益的“大本营”...
                        </p>
                    </div>
                    <div class="entry-media text-center">
                        <img th:src="@{sources/images/44.jpg}" alt="image">
                    </div>
                    <div class="entry-content">
                        <p class="has-dropcap">
                            这些年，作为一名无偿献血志愿者，黄琼娇一直在用自己的实际行动为无偿献血事业默默“耕耘”，她目睹了石家庄这座城市发生的巨大变化，也见证了无偿献血在这片热土上一点一滴的成长和发展，丰富的志愿服务经历也让她在付出中改变，收获中成长。
                        </p>
                        <div class="entry-media text-center">
                            <img th:src="@{sources/images/44.jpg}" alt="image" style="margin-bottom: 20px">
                        </div>
                        <p>
                            近日，记者在石家庄市解放广场的献血小屋里见到了正在做志愿服务的黄琼娇。她真诚的微笑给人感觉亲近、自然，聊起她的经历，也不禁让人赞叹！
                            黄琼娇在2002年的时候，在解放广场第一次参加了无偿献血，当时还填写了造血干细胞捐献表。“
                            因为在参加无偿献血之前，我已经是河北省红十字会的一名成员，对无偿献血和造血干细胞捐献有过了解，所以当时并没有任何紧张或顾虑。”
                            近日，记者在石家庄市解放广场的献血小屋里见到了正在做志愿服务的黄琼娇。她真诚的微笑给人感觉亲近、自然，聊起她的经历，也不禁让人赞叹！
                            黄琼娇在2002年的时候，在解放广场第一次参加了无偿献血，当时还填写了造血干细胞捐献表。“
                            因为在参加无偿献血之前，我已经是河北省红十字会的一名成员，对无偿献血和造血干细胞捐献有过了解，所以当时并没有任何紧张或顾虑。”
                        </p>
                    </div>

                </div>
                <div class="comment-template">
                    <h4 class="template-title">04 Comments</h4>

                    <ul class="comment-list">
                        <li>
                            <div class="comment-body">
                                <div class="comment-author">
                                    <img th:src="@{sources/images/44.jpg}" alt="image">
                                </div>
                                <div class="comment-content">
                                    <h6 class="comment-author">Zhon Andarson</h6>
                                    <p>
                                        Coding is used in almost all aspects of life and work now, be it directly or
                                        indirectly. It’s not just for companies in the tech sector. “An increasing number of
                                        businesses rely on computer code,
                                    </p>
                                    <div class="comment-footer">
                                        <span class="date"> 10:35pm, 27 jan 2015.</span>
                                        <a href="#" class="reply-link">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comment-body">
                                <div class="comment-author">
                                    <img th:src="@{sources/images/40.jpg}" alt="image">
                                </div>
                                <div class="comment-content">
                                    <h6 class="comment-author">Andro Smith Doe</h6>
                                    <p>
                                        Coding is used in almost all aspects of life and work now, be it directly or
                                        indirectly. It’s not just for companies in the tech sector. “An increasing number of
                                        businesses rely on computer code,
                                    </p>
                                    <div class="comment-footer">
                                        <span class="date"> 10:35pm, 27 jan 2015.</span>
                                        <a href="#" class="reply-link">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <h4 class="template-title">Leave your comment</h4>
                    <div class="comment-form">
                        <form action="#">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Enter your name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" placeholder="Your Email">
                                </div>
                                <div class="col-12">
                                    <textarea placeholder="Your message here"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit">Post <i class="far fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--引用公共底部-->
        <div th:replace="common :: bottom"></div>

        <script src="lib/js/jquery-3.5.1.js"></script>
    <!-- popper.js 本地引入有问题，故用cdn方式引入 -->
        <script th:src="@{lib/js/popper.min.js}"></script>
        <script th:src="@{lib/js/bootstrap.js}"></script>
        <script th:src="@{js/home.js}"></script>
    </body>
</html>